/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/admin_assets
/images
/imgupload
/thumbnail
/feedback_files
/project_images
artisan
